<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="/assets/js/leap_day_main.js"></script>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-tagline">{{ page.title }}</h1>
    </header>

    <main id="content" class="main-content" role="main">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>
    </main>
  </body>
</html>

